certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.4
idna==3.11
iniconfig==2.3.0
lxml==5.4.0
mysql-connector==2.2.9
numpy==2.4.1
ordered-set==4.1.0
-e git+https://github.com/Zehen-249/Osdag.git@44d536c7639114057227a65c75cc418d8bdf784f#egg=osdag
packaging==26.0
pandas==3.0.0
pdf2image==1.17.0
pillow==11.2.1
pluggy==1.6.0
pycparser==3.0
PyGithub==2.8.1
Pygments==2.19.2
PyJWT==2.11.0
PyLaTeX==1.4.2
PyNaCl==1.6.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
pytest==9.0.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
typing_extensions==4.13.2
tzdata==2025.3
urllib3==2.6.3
